{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div>
    <div class="terminal_view">
        <textarea id="term_dsp" rows="20" cols="80"  disabled spellcheck="false" wrap="off"></textarea>

    </div>
    <div class="terminal_entry">
        <textarea id="term_entry" rows="1" cols="80"  spellcheck="false" wrap="off" placeholder="Enter commands here!"></textarea>
    </div>
    <button id="refreshTerminalBtn">Refresh</button>
</div>
<hr>


<div class="gui">
    <h2>Flight Computer Commands</h2>
    <div class="row" id="dataRateRow">
        <h4>Set data rate: 0 to 100 (Hz)</h4>
        <input type='text' class='textInput' id='dataRate' name='dataRate'> 
        <button class='configButton' id='setDataRate'>Set Data Rate</button>
    </div>

    <h4 style="text-align:left; margin:2em 5vw 0;">Accelerometer Settings</h4>
    <div class="row" id="accelerometerRow">
        <div class="col1">
            <p>Set accelerometer range</p>
            <input type="radio" name="accRange" value="3" checked>
            <label for="accr1">3</label>
            <input type="radio" name="accRange" value="6">
            <label for="accr2">6</label>
            <input type="radio" name="accRange" value="12">
            <label for="accr3">12</label>
            <input type="radio" name="accRange" value="24">
            <label for="accr4">24</label>
            <!-- <button class="configButton" id='setAccRange' onclick="addCommand('accRange')">Set Range</button> -->
        </div>
        <div class="col2">
            <p>Set accelerometer bandwidth</p>
            <input type='radio' name='accBandwidth' value="0">
            <label for='accb1'>0</label>
            <input type='radio' name='accBandwidth' value="2" checked>
            <label for='accb2'>2</label>
            <input type='radio' name='accBandwidth' value="4">
            <label for='accb3'>4</label>
            <!-- <button class='configButton' id='setAccBandwidth'>Set Bandwidth</button> -->
        </div>
        <div class="col3">
            <p>Set accelerometer ODR</p>
            <select id="accODR">
                <option value="12">12</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100" selected="selected">100</option>
                <option value="200">200</option>
                <option value="400">400</option>
                <option value="800">800</option>
                <option value="1600">1600</option>
            </select>
        </div>
        <div class="col4">
            <button class='confirmButton' id='setAccVals' onclick="addCommands('Accelerometer')">Set These Accelerometer Values</button>
        </div>
    </div>

    <div class="row" style="text-align:right;">
        <button class='configButton' id='submitButton' onclick="saveChanges()">Save Changes</button>
    </div>
</div>
<hr>


    <div class="serialSettings" >
    <h2>Connect To The Flight Computer</h2>
        <div style="width: 100%;">

                <div style="text-align: center">
                    <form  name="comPortList" >
                        <label>COM Port:</label>
                        <select id="comPortList">
                            <option>None available.</option>

                        </select>

                    </form>
                    <button id="refreshCOM" onclick="getComPorts">Refresh</button>
                </div>

                <div >
                    <form  action="javascript:void(-1)" autocomplete="off">
                        <label>Baudrate:</label>
                        <input id="baudEntry" list="baudRates"  />
                        <datalist id="baudRate">
                          <option value="9600">
                          <option value="115200">
                        </datalist>
                    </form>
                </div>


         </div>
            <form >
            <input id="ConnectSerialButton"type="button" value="Connect">
        </form>
    </div>





    <script src="../static/dashboard_script.js"></script>
{% endblock %}