{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div>
    <div class="terminal_view">
        <textarea id="term_dsp" rows="20" cols="80"  disabled spellcheck="false" wrap="off"></textarea>

    </div>
    <div class="terminal_entry">
        <textarea id="term_entry" rows="1" cols="80"  spellcheck="false" wrap="off" placeholder="Enter commands here!"></textarea>
    </div>
    <button id="refreshTerminalBtn">Refresh</button>
</div>
<hr>

<!-- Start of GUI for computer CLI -->
<div class="gui">
    <h2>Flight Computer Commands</h2>
    <button class='configButton' id='submitButton' onclick="saveChanges()">Save Changes</button>
    <div class="row" id="dataRateRow">
        <h4>Set data rate: 0 to 100 (Hz)</h4>
        <input type='text' class='textInput' id='dataRate' name='dataRate'> 
        <button class='configButton' id='setDataRate'>Set Data Rate</button>
    </div>

<!-- ACCELEROMETER  -->
    <h4 style="text-align:left; margin:2em 5vw 0;">Accelerometer Settings</h4>
    <div class="row" id="accelerometerRow">
        <div class="col1">
            <p>Accelerometer range</p>
            <input type="radio" name="accRange" value="3" checked>
            <label for="accr1">3</label>
            <input type="radio" name="accRange" value="6">
            <label for="accr2">6</label>
            <input type="radio" name="accRange" value="12">
            <label for="accr3">12</label>
            <input type="radio" name="accRange" value="24">
            <label for="accr4">24</label>
        </div>
        <div class="col2">
            <p>Accelerometer bandwidth</p>
            <input type='radio' name='accBandwidth' value="0">
            <label for='accb1'>0</label>
            <input type='radio' name='accBandwidth' value="2" checked>
            <label for='accb2'>2</label>
            <input type='radio' name='accBandwidth' value="4">
            <label for='accb3'>4</label>
        </div>
        <div class="col3">
            <p>Accelerometer ODR</p>
            <select id="accODR">
                <option value="12">12</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100" selected="selected">100</option>
                <option value="200">200</option>
                <option value="400">400</option>
                <option value="800">800</option>
                <option value="1600">1600</option>
            </select>
        </div>
        <div class="col4">
            <button class='confirmButton' id='setAccVals' onclick="addCommands('Accelerometer')">Set These Accelerometer Values</button>
        </div>
    </div>
    <br>

<!-- GYRO -->
    <h4 style="text-align:left; margin:2em 5vw 0;">Gyro Settings</h4>
    <div class="row" id="gyroRow">
        <div class="col1b">
            <p>Gyro Bandwidth and ODR</p>
            <input type="radio" name="gyroBwODR" value="1" checked>
            <label for="gyrobo1">32, 100</label>
            <input type="radio" name="gyroBwODR" value="2">
            <label for="gyrobo2">64, 200</label>
            <input type="radio" name="gyroBwODR" value="3">
            <label for="gyrobo3">12, 100</label>
            <input type="radio" name="gyroBwODR" value="4">
            <label for="gyrobo4">23, 200</label>
            <input type="radio" name="gyroBwODR" value="5">
            <label for="gyrobo5">47, 400</label>
            <input type="radio" name="gyroBwODR" value="6">
            <label for="gyrobo6">116, 1000</label>
            <input type="radio" name="gyroBwODR" value="7">
            <label for="gyrobo7">230, 2000</label>
            <input type="radio" name="gyroBwODR" value="8">
            <label for="gyrobo8">532, 2000</label>
        </div>
        <div class="col2b">
            <p>Gyro Range</p>
            <input type="radio" name="gyroRange" value="125" checked>
            <label for="gyror1">125</label>
            <input type="radio" name="gyroRange" value="250">
            <label for="gyror2">250</label>
            <input type="radio" name="gyroRange" value="500">
            <label for="gyror3">500</label>
            <input type="radio" name="gyroRange" value="1000">
            <label for="gyror4">1000</label>
            <input type="radio" name="gyroRange" value="2000">
            <label for="gyror5">2000</label>
        </div>
        <div class="col4">
            <button class='confirmButton' id='setGyroVals' onclick="addCommands('Gyro')">Set These Gyro Values</button>
        </div>
    </div>

    <!-- BMP388 -->
    <div class="row" id="BMP388Row">
        <h4 style="text-align:left; margin:2em 5vw 0;">BMP388 Settings</h4>
        <div class="col1b">
            <p>BMP388 ODR</p>
            <input type="radio" name="bmpODR" value="1" checked>
            <label for="bmpo1">1</label>
            <input type="radio" name="bmpODR" value="12">
            <label for="bmpo2">12</label>
            <input type="radio" name="bmpODR" value="25">
            <label for="bmpo3">25</label>
            <input type="radio" name="bmpODR" value="50">
            <label for="bmpo4">50</label>
            <input type="radio" name="bmpODR" value="100">
            <label for="bmpo5">100</label>
            <input type="radio" name="bmpODR" value="200">
            <label for="bmpo6">200</label>
        </div>
        <div class="col2b">
            <p>BMP IIR Filter Coefficient</p>
            <input type="radio" name="bmpIIR" value="0" checked>
            <label for="mbpf1">0</label>
            <input type="radio" name="bmpIIR" value="1">
            <label for="mbpf2">1</label>
            <input type="radio" name="bmpIIR" value="3">
            <label for="mbpf3">3</label>
            <input type="radio" name="bmpIIR" value="7">
            <label for="mbpf4">7</label>
            <input type="radio" name="bmpIIR" value="15">
            <label for="mbpf5">15</label>
            <input type="radio" name="bmpIIR" value="31">
            <label for="mbpf6">31</label>
            <input type="radio" name="bmpIIR" value="63">
            <label for="mbpf7">63</label>
            <input type="radio" name="bmpIIR" value="127">
            <label for="mbpf8">127</label>
        </div>
        <div class="col4">
            <button class='confirmButton' id='setBMPvals' onclick="addCommands('BMP388')">Set These BMP388 Values</button>
        </div>

    </div>
</div>
<hr>
<!-- End of GUI for CLI -->

    <div class="serialSettings" >
    <h2>Connect To The Flight Computer</h2>
        <div style="width: 100%;">

                <div style="text-align: center">
                    <form  name="comPortList" >
                        <label>COM Port:</label>
                        <select id="comPortList">
                            <option>None available.</option>

                        </select>

                    </form>
                    <button id="refreshCOM" onclick="getComPorts">Refresh</button>
                </div>

                <div >
                    <form  action="javascript:void(-1)" autocomplete="off">
                        <label>Baudrate:</label>
                        <input id="baudEntry" list="baudRates"  />
                        <datalist id="baudRate">
                          <option value="9600">
                          <option value="115200">
                        </datalist>
                    </form>
                </div>


         </div>
            <form >
            <input id="ConnectSerialButton"type="button" value="Connect">
        </form>
    </div>





    <script src="../static/dashboard_script.js"></script>
{% endblock %}